<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Web06_Filter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
  		Web.xml (Web Application의 Deployment Descriptor(환경 파일))
  		
  		애플리케이션을 실행하기 전 web.xml문서를 읽어서 동작(Run)을 준비한다.
		사용자의 설정에 맞게 작성해두고 사용한다.
   -->
  
  <!-- 인코딩 필터 정의하기(Tomcat 웹서버에 알리기) -->
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>test.filter.EncodingFilter</filter-class><!-- 객체생성 -->
  	
  	<!-- 필터 초기화 파라미터 정의하기 encoding : utf-8 -->
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  	
  </filter>
  	
  <!-- 인코딩 필터 맵핑하기(어떤 요청에 대해서 필터가 동작할지 알리기) -->
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	
  	<!-- 최상위 경로 하위의 모든 요청에 대해서 인코딩 필터가 동작할 준비를 한다. -->
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
<!--(comment. Solution 02 활용을 위해 주석처리)  
  		[solution 01.] 
  		
  로그인 필터 정의하기 
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>test.filter.loginFilter</filter-class>
  </filter>
  
  필터 맵핑하기	
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	
  	/member/play, /member/study ... .
  	<url-pattern>/member/*</url-pattern>
  </filter-mapping>
  -->
  
</web-app>